.page-header {
    margin-top: 0;
    background-color:#4682B4;
    padding: 20px 20px 20px 40px;

}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;

}

.content {
    margin-left: 100px;
}



h2, h3, h4 {
    font-family: 'Courier';
}

.date {
    color: #828282;
    padding: 15px;
    font-family: 'FreeMono';
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 16pt;
    margin-right: 20px;
}

.post_wrapper {
    top: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    width: 90%;
}

.post h1 , .post h1 {
    color: #3D789A;
}

.comment {
    margin: 20px, 0px, 20px, 20px;
}

.author {
    color: #3D789A;
}

.info-correct {width: 100%;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;}

.profile {
    width: 100%;
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    Display:flex;
    Flex-direction: row;}

button, submit {
        font-family: 'Courier';

}


.font-courier {
    font-family: 'Courier';
}

.font-freemono{
    font-family: 'FreeMono';
}

.for-footer-freemono {
    font-family: 'FreeMono';
}

.for-input-search {
    font-family: 'Courier';
    padding-right: 10px;
}

.foot-info {
    padding-left: 25px; padding-right: 25px;
}

.foot-right {
    text-align: right;
}

.foot-left {
    float: left;
}

.csb-header {
    font-family: 'FreeMono';
    text-align: center;
}

.color-for-button-header {
    color: 4682B4;
}

.text {
    font-family: 'Courier';
}

.color-for-button {
color: white; background: #4682B4;
}

.image {
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    }


.form-auth {
  display: flex;
  align-items: center;
  justify-content: center;
  }