{% load static %}
<html>
    <head>
        <title>夢</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
    <div class="page-header">
        <h1 style="text-align:center;"><a href="/">Computer Science Blog</a></h1>
        {% if user.is_authenticated %}
        <form class="form-inline md-form form-sm top-menu row" action="{% url 'post_list'%}">
            <input class="form-control form-control-sm mr-2 w-75 row" type="text" placeholder="Search" aria-label="Search"
            name="Search">
            <button class="btn btn-light" type="submit" style="color: 4682B4;">Search</button>
        </form>
            <a href="{% url 'logout_view' %}"><span class="btn btn-light" style="color: 4682B4;">Logout</span></a>
            <a href="{% url 'profile' %}"><span class="btn btn-light" style="color:4682B4;">{{request.user}}</span></a>
            <a href="{% url 'post_new' %}"><span class="btn btn-light" style="color: 4682B4;">New post</span></a>
        {% else %}
        <a href="{% url 'login_view' %}"><span class="btn btn-light" style="color: 4682B4;">Login</span></a>
        <a href="{% url 'register_view' %}"><span class="btn btn-light" style="color: 4682B4;">Sign up</span></a>
        {% endif %}
    </div>
    <div style="
    width: 80%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;">
        <div >
            <div>
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>