{% extends 'blog/base.html'%}

    {% block content%}
            {% for post in posts %}
                <article class="media content-section"><span class="border-top-0">
                <div class="post_wrapper">
                    <div>
                    <h1>
                        <a href="{% url 'profiles' id=post.author.id %}"><img class="img-thumbnail" src="{{ post.author.profile.image.url }}" width="100px" height="100px"></a>
                        <a href="{% url 'post_detail' pk=post.pk%}" >{{ post.title }}</a></h1>
                    </div>
                    <div class="post">
                        <div class="date">
                            <p>Created date: {{ post.created_date }}</p>
                            <p> Author: <a href="{% url 'profiles' id=post.author.id %}">{{post.author}}</a></p>
                        </div>
                        <a href="{%url 'post_detail' pk=post.pk%}">Comments: {{post.comments.count}}</a>
                    <hr>

                    </div>
                </div>
                    </span></article>
            {% endfor %}
    {% endblock %}
