{% extends 'blog/base.html'%}

    {% block content%}
        <form class="form-inline md-form form-sm top-menu row" id="search-form" onsubmit="getRequest(); return false;">
            <input class="form-control form-control-sm mr-1 w-75 row for-input-search" id="text-input" type="text" placeholder="Search" aria-label="Search"
            name="Search">
            <input class="btn btn-light font-courier" type="submit" style="color: white; background: #4682B4;" value="Search">
        </form>
            <div class="info-correct" id="posts">
            {% for post in posts %}
                <article class="media content-section">
                <div>
                    <div>
                    <h2>
                        <a href="{% url 'profiles' id=post.author.id %}"><img class="img-thumbnail" src="{{ post.author.profile.image.url }}" width="100px" height="100px"></a>
                        <a href="{% url 'post_detail' pk=post.pk%}" >{{ post.title }}</a></h2>
                    </div>
                    <div class="post">
                        <div class="date">
                            <p>Created date: {{ post.created_date }}</p>
                            <p> Author: <a href="{% url 'profiles' id=post.author.id %}">{{post.author}}</a></p>
                        </div>
                        <a class="font-courier" href="{%url 'post_detail' pk=post.pk%}">Comments: {{post.comments.count}}</a>
                    <hr>

                    </div>
                </div>
                    </article>

            {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ posts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>

            {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}">next</a>
                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
        </div></div>
    {% endblock %}
