{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.image %}
            <img src="{{post.image.url}}" class="img-responsive">
        {% endif %}
        <div class="date">
            <p>Author: {{ post.author }}</p>
            <form method="post">
                {% if request.user.is_authenticated %}
                    <a class="glyphicon glyphicon-thumbs-up" href="{% url 'post_like' id=request.user.id pk=post.pk %}" methods="post" ></a>
                    <span style="padding-right: 10px;">{{post.likes}}</span>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a class="glyphicon glyphicon-thumbs-down" href="{% url 'post_dislike' id=request.user.id pk=post.pk %}" methods="post"></a>
                                <span>{{post.dislikes}}</span>
                {% endif %}
                {% if request.user in list_liked_by %}
                        <p style="color: #4682B4;">I like</p>
                    {% endif %}
                {% if request.user in list_disliked_by %}
                        <p style="color: #4682B4;">I do not like</p>
                    {% endif %}
                <p style="padding : 5px;">Created date : {{ post.created_date }}</p>
            <p>Views : {{ post.view }}</p>
            </form>
        </div>
        {% if request.user.is_authenticated and post in posts %}
            {% if post.created_date %}
                        <a href="{% url 'post_edit' pk=post.pk %}"><span class="btn btn-light" style="color: white; background: #4682B4;">Edit</span></a>
                        <a href="{% url 'post_remove' pk=post.pk %}"><span class="btn btn-light" style="color: white; background: #4682B4;">Remove</span></a>
            {% endif %}
        {% endif %}
        {% if request.user.is_staff %}
            <button onclick="postToVk({{post.id}}, {{ request.user.id }})" class="btn btn-light" style="color: white; background: #4682B4;">Post to VK</button>
            <p id="response"></p>
        {% endif %}

    </div>
<hr>
{% if user.is_authenticated %}
<a href="{% url 'add_comment_to_post' pk=post.pk %}"><span class="btn btn-light" style="color: white; background: #4682B4;">Add comment</span></a>
{% endif %}
{% for comment in comments %}
    <div class="comment">
        <h3>    <a href="{% url 'profiles' id=comment.author.id %}" style="color:black;"><img class="img-thumbnail" src="{{ comment.author.profile.image.url }}" width="100px" height="100px">
            {{ comment.author }}</a></h3>
        <p>{{ comment.text|linebreaks }}</p>
        <div class="date">
            {{ comment.created_date }}
                            <a href="{% url 'reply' pk=post.pk uid=request.user.id cid=comment.id %}">Reply</a>
            {% if comment in comments_root and user.is_authenticated %}
                <p><a href="{% url 'remove_comment' pk=post.pk id=comment.id %}">Remove</a></p>
                <a href="{% url 'edit_comment' pk=post.pk id=comment.id %}">Edit</a>
            {% endif %}
            </div>
            <div class="comment" style="padding-left: 50px;">
            {% for child in comment.children%}
                <h3>    <a href="{% url 'profiles' id=child.author.id %}" style="color:black;"><img class="img-thumbnail" src="{{ child.author.profile.image.url }}" width="70px" height="70px">{{child.author}}</a></h3>
                <p><a href="{% url 'profiles' id=comment.author.id %}">{{comment.author}}</a>, {{child.text}}</p>
                <div class="date">
                    <p>{{child.created_date}}</p>
                {% if child  in comments_root and user.is_authenticated %}
                <p><a href="{% url 'remove_comment' pk=post.pk id=comment.id %}">Remove</a></p>
                <a href="{% url 'edit_comment' pk=post.pk id=comment.id %}">Edit</a>
            {% endif %}
                </div>
            {% endfor %}
            </div>

    </div>
{% endfor %}
{% endblock %}
